/* BASIC STYLING FOR ALL OUR CONTENT */
* {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}


/* FONT SIZE REFERENCE FOR "rem" RESPONSIVE UNIT USAGE */
html {
  font-size: 16px;
}


/* BODY BACKGROUND IMAGE STYLING */
body {
  background-image: url("https://www.scdn.co/i/home/lieVariants/bursts-tablet.svg");
  background-repeat: no-repeat;
  background-size: 120%;
  background-position: right 40% center;
  background-color: #2940a8;
}


/* NAV BAR STYLING */
nav {
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 80px;
  height: 100px
}

nav a, nav span {
  color: #fff;
  text-decoration: none;
}

nav a:hover {
  color: #5BD860;
  transition: color 0.3s linear;
}

nav span {
  font-size: 1.5rem;
}

nav img {
  width: 200px;
  height: auto;
}

nav > div + div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 450px;
}

nav > div > button {
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
  background-image: url("https://img.icons8.com/material-outlined/344/ffffff/top-menu.png");
  background-size: cover;
  cursor: pointer;
  display: none;
}


/* MAIN CONTENT STYLING */
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 100px);
}

main > h1 {
  color: #1AD760;
  font-size: 6rem;
  width: 600px;
  text-align: center;
  margin-bottom: 40px;
}

main > p {
  color: #1AD760;
  font-size: 1rem;
  margin-bottom: 40px;
}

main button {
  color: #2A3FA8;
  font-weight: 700;
  text-align: center;
  background-color: #1AD760;
  width: 300px;
  height: 50px;
  border: none;
  border-radius: 100px;
  letter-spacing: 0.09rem;
  cursor: pointer;
}

main button:hover {
  background-color: white;
  transition: background-color 0.3s linear;
}


/* LOADING LOGO EFFECT STYLING */
body > img {
  width: 300px;
  position: absolute;
  bottom: calc(50% - 150px);
  left: calc(50% - 150px);
  text-align: center;
  animation-name: loading-logo-animation;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-delay: 0s;
}

@keyframes loading-logo-animation {
  0% {
    transform: rotate(0deg);
    /* width: 300px; */
  }

  /* 30% {
    width: 500px
  } */

  100% {
    transform: rotate(360deg);
    /* width: 600px; */
  }
}

#main-content-container {
  display: none;
}


/* RESPONSIVE MEDIA QUERY STYLING */

/* MAIN SCREEN SIZES BREAKPOINTS:

  BELOW 480px --- MOBILE
  480px - 768px --- MOBILE / TABLET
  768px - 1024px --- TABLET
  1024px - 1280px --- WEB
  ABOVE 1280px --- WEB (HIGHER DEFINITIONS)
*/

/* For screen width size between 768 and 1024 pixels */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  html {
    font-size: 14px;
  }

  body {
    background-size: 160%;
  }

  nav > div + div {
    width: 350px;
  }
}

/* For screen width size lower than 768px */
@media only screen and (min-width: 480px) and (max-width: 768px) {
  html {
    font-size: 12px;
  }

  body {
    background-size: 185%;
  }

  nav {
    height: 70px;
    padding: 0 20px;
    width: 100vw;
  }

  nav img {
    width: 120px;
    height: auto;
  }

  nav > div a, span {
    display: none;
  }

  nav > div + div {
    width: auto;
  }

  nav > div > button {
    display: block;
  }

  main > h1 {
    width: 80vw;
  }
}
